In [1]:
import pandas as pd

In [2]:
cines = pd.read_csv('data/cines/2022-junio/cines-29-06-2022.csv')
museos = pd.read_csv('data/museos/2022-junio/museos-29-06-2022.csv')
bibliotecas = pd.read_csv('data/bibliotecas/2022-junio/bibliotecas-29-06-2022.csv')

In [3]:
tabla_general = pd.concat([cines, museos, bibliotecas], axis=0, ignore_index=True)
tabla_general = tabla_general.drop('Unnamed: 0', axis=1)

In [4]:
tabla_general.to_csv('tabla_general.csv')

In [5]:
# Generar las tablas de análisis
total_registro_cat = pd.DataFrame(tabla_general.categoria.value_counts())

In [6]:
total_cat_prov = pd.DataFrame(tabla_general.groupby(['provincia', 'categoria']).count())
total_cat_prov = pd.DataFrame(total_cat_prov.iloc[:,0])
total_cat_prov.rename(columns={'cod_localidad':'por_cat_prov'}, inplace=True)

In [27]:
import numpy as np
import requests
import csv

In [28]:
r = requests.get('https://datos.cultura.gob.ar/dataset/37305de4-3cce-4d4b-9d9a-fec3ca61d09f/resource/392ce1a8-ef11-4776-b280-6f1c7fae16ae/download/cine.csv')
download = r.content.decode('utf-8')
csv_file = csv.reader(download.splitlines(), delimiter=',')
csv_creator = list(csv_file)
raw_data = pd.DataFrame(csv_creator[1:], columns=csv_creator[0])

In [55]:
raw_data.columns

Index(['Cod_Loc', 'IdProvincia', 'IdDepartamento', 'Observaciones',
       'Categoría', 'Provincia', 'Departamento', 'Localidad', 'Nombre',
       'Dirección', 'Piso', 'CP', 'cod_area', 'Teléfono', 'Mail', 'Web',
       'Información adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas', 'espacio_INCAA',
       'año_actualizacion'],
      dtype='object')

In [60]:
raw_data['Pantallas'] = raw_data['Pantallas'].astype(int)
raw_data['Butacas'] = raw_data['Butacas'].astype(int)
if raw_data['espacio_INCAA'].empty:
    raw_data['espacio_INCAA'] = 0
else:
     raw_data['espacio_INCAA'] = 1
raw_data['espacio_INCAA'] = raw_data['espacio_INCAA'].astype(int)

In [61]:
cines_tabla = raw_data.groupby(['Provincia']).agg({'Pantallas':[np.sum], 'Butacas':[np.sum], 'espacio_INCAA':[np.sum]})

In [62]:
cines_tabla = pd.DataFrame(cines_raw)

In [63]:
cines_tabla

                                Pantallas Butacas espacio_INCAA
                                      sum     sum           sum
Provincia
Buenos Aires                          358   93112           106
Catamarca                              12    3200             4
Chaco                                  14    2469             4
Chubut                                 10    2682             9
Ciudad Autónoma de Buenos Aires       153   31386            35
Corrientes                             17    3370             8
Córdoba                               105   20799            35
Entre Ríos                             17    4086            13
Formosa                                 4    1184             2
Jujuy                                   5    2277             4
La Pampa                                6    2071             6
La Rioja                               10    1477             5
Mendoza                                47   11116            16
Misiones                               10    2177             6
Neuquén                                12    3959             5
Río Negro                              10    2474             7
Salta                                  23    4665            10
San Juan                               22    4617             6
San Luis                               12    2601             4
Santa Cruz                              7    1256             5
Santa Fe                               79   20131            23
Santiago del Estero                    11    2928             5
Tierra del Fuego                        6    1445             3
Tucumán                                24    5161             8